body {
	margin: 4px;
	background-color: #1B1B1B;
	font-family: "IBM Plex Mono";
	font-size: 15px;
	color: #D9D9D9;
	overflow: hidden;			
}
a:link { text-decoration: none; color:  #D9D9D9;}
a:visited { text-decoration: none; color:  #D9D9D9;}
a:hover { text-decoration: none; font-style: italic; background-color: fuchsia;}
a:active { text-decoration: none; color:  #D9D9D9;}
.container {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border: 1px solid green;
	width: 99vw;
	height: 99vh;
	justify-items: center;
	border: 0px solid yellowgreen;
}
.appcontainer {
	width: 99vw;
	height: 99vh;
	background-color: #1B1B1B;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	border: 0px solid hotpink;
}
.app {
	width: 97%;
	height: 100%;
	top: 0px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 2fr 0.4fr;
	align-items: center;
	justify-items: center;
	border: 0px solid cyan;
	max-width: 770px;
}
.app > div {
	border: 0px solid cyan;
}
.head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position:relative;
	border: 0px solid red;
	width: 100%;
	animation: fadein 2s;
}
#head {animation-timing-function:ease;}
.head > div {
	border: 0px solid white;
	box-sizing:  border-box;
	z-index: 10;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 0px solid yellowgreen;
	gap: 5px;
	width: 100%;
}
.footer > div {
	border:0px solid white;
	animation: fadein 10s;
}
#footer {animation-timing-function:ease;}
.bottom {
	width:100%;
	animation: fadein 9s;
}
#ring {animation-timing-function:ease;}
.bottom > div {
	border: 0px solid green;
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	border: 0px solid yellowgreen;
	width: 100%;
	height: 100%;
}
.grid > div {
	border: 0px solid white;
	box-sizing:  border-box;
}
.clock {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 0px solid white;
	position: relative;
	margin: auto;
	animation: fadein 4s;
}
#clock {animation-timing-function:ease;}
.clock > div {
	border: 0px solid white;
}
.clock .number {
	--rotation: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: rotate(var(--rotation));
}
.clock .number1 { --rotation: 0deg; top: 0%;}
.clock .number2 { --rotation: 90deg; top: 0%;}
.clock .number3 { --rotation: 180deg; top: 0%;}
.clock .number4 { --rotation: 270deg; top: 0%;}

.clock .season {
	--rotation: 0;
	position: absolute;
	width: 610px;
	height: 610px;
	border: 0px solid white;
	top: -11%;
	left: -12%;
	text-align: center;
	transform: rotate(var(--rotation));
}
.clock .season1 { --rotation: 0deg; }
.clock .season2 { --rotation: 90deg; }
.clock .season3 { --rotation: 0deg; top: 107%}
.clock .season4 { --rotation: 270deg; }

.clock .line1 {
	position: absolute;
	top:0%;
	left: 50%;
	width: 1px;
	height: 50%;
	background: linear-gradient(0deg, red, 30%, cyan);
}
.clock .line2 {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 50%;
	height: 1px;
	background: linear-gradient(.25turn, white, 40%, red);
}
.clock .line3 {
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	top: 0%;
	left: 50.25%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, cyan, 50%, red);
}
.clock .line4 {
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 200%;
	top: 0%;
	left: 9%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, white, 70%, red);
}
.clock .line5 {
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 1px;
	height: 50%;
	background: linear-gradient(0deg, white, 80%, green);
}
.clock .line6 {
	position: absolute;
	transform: rotate(45deg);
	transform-origin: -100%;
	top: 0%;
	left: 20.75%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, green, 30%, white);
}
.clock .line7 {
	position: absolute;
	bottom: 50%;
	left: 0%;
	width: 50%;
	height: 1px;
	background: linear-gradient(.25turn, green, 80%, cyan);
}
.clock .line8 {
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 100%;
	top: 0%;
	left: -20.5%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, green, 40%, cyan);;
}
.progClock {
	display: grid;
	justify-content: center;
	align-content: center;
	position: relative;
	text-align: center;
	border: 0px solid yellowgreen;
	width: 500px;
	height: 500px;
}
/* SVG RADIAL */
.progClock__ring {
	display: block;
	position: relative;
	width: 870px;
	height: 870px;
	z-index: 0;
	animation: fadein 10s;
}
#ring {animation-timing-function:ease;}
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
