body {
	margin: 4px;
	background-color: #1B1B1B;
	font-family: "IBM Plex Mono";
	font-size: 15px;
	color: #D9D9D9;
	overflow: hidden;			
}
.container {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border: 1px solid green;
	width: 100%;
	height: 100vh;
	justify-items: center;
	border: 0px solid yellowgreen;
}
.appcontainer {
	width: 100vw;
	height: 95vh;
	background-color: #1B1B1B;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	border: 0px solid hotpink;
}
.app {
	width: 90vw;
	height: 100%;
	top: 0px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 2fr 0.4fr;
	align-items: center;
	justify-items: center;
	border: 0px solid cyan;
	min-height: 900px;
	z-index: 0;
}
.head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position:relative;
	border: 0px solid red;
	width: 100%;
	min-height:40px;
}
.head > div {
	border: 0px solid white;
	box-sizing:  border-box;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 0px solid yellowgreen;
	gap: 5px;
	width: 100%;
}
.footer > div {
	border:0px solid white;
}
.bottom {
	width:100%;
}
.bottom > div {
	border: 0px solid green;
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	border: 0px solid yellowgreen;
	width: 100%;
	height: 100%;
}
.grid > div {
	border: 0px solid white;
	box-sizing:  border-box;
}
.clock {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 0px solid white;
	position: relative;
	margin: auto;
}
.clock > div {
	border: 0px solid white;
}
.clock .number {
	--rotation: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: rotate(var(--rotation));
	z-index: 100;
}
.clock .number1 { --rotation: 0deg; top: 0%;}
.clock .number2 { --rotation: 90deg; top: 0%;}
.clock .number3 { --rotation: 180deg; top: 0%;}
.clock .number4 { --rotation: 270deg; top: 0%;}

.clock .season {
	--rotation: 0;
	position: absolute;
	width: 610px;
	height: 610px;
	border: 0px solid white;
	top: -11%;
	left: -12%;
	text-align: center;
	transform: rotate(var(--rotation));
}
.clock .season1 { --rotation: 0deg; }
.clock .season2 { --rotation: 90deg; }
.clock .season3 { --rotation: 0deg; top: 107%}
.clock .season4 { --rotation: 270deg; }

.clock .line1 {
	position: absolute;
	top:0%;
	left: 50%;
	width: 1px;
	height: 50%;
	background: linear-gradient(0deg, red, 10%, cyan);
}
.clock .line2 {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 50%;
	height: 1px;
	background: linear-gradient(.25turn, white, 30%, red);
}
.clock .line3 {
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	top: 0%;
	left: 50.25%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, cyan, 50%, red);
}
.clock .line4 {
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 200%;
	top: 0%;
	left: 9%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, white, 60%, red);
}
.clock .line5 {
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 1px;
	height: 50%;
	background: linear-gradient(0deg, white, 90%, green);
}
.clock .line6 {
	position: absolute;
	transform: rotate(45deg);
	transform-origin: -100%;
	top: 0%;
	left: 20.75%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, green, 30%, white);
}
.clock .line7 {
	position: absolute;
	bottom: 50%;
	left: 0%;
	width: 50%;
	height: 1px;
	background: linear-gradient(.25turn, green, 90%, cyan);
}
.clock .line8 {
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 100%;
	top: 0%;
	left: -20.5%;
	width: 70.5%;
	height: 1px;
	background: linear-gradient(.25turn, green, 50%, cyan);;
}
.progClock {
	display: grid;
	justify-content: center;
	align-content: center;
	position: relative;
	text-align: center;
	border: 0px solid yellowgreen;
	width: 500px;
	height: 500px;
	z-index: 100;
}
/* MODIFY RADIAL */
.progClock__rings {
	display: block;
	position: relative;
	width: 870px;
	height: 870px;
	z-index: -1;
}
[data-units] {
	transition: opacity 0.2s linear;
}
/*
.base-timer {
  position: absolute;
  width: 552px;
  height: 552px;
  left: -5.5%;
  bottom: -5.5%;
}
.base-timer__svg {
  transform: scaleX(-1);
}
.base-timer__circle {
  fill: #1B1B1B;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke: #D9D9D9;
}
.base-timer__path-remaining {
  stroke-width: 5px;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #1B1B1B;
}
.base-timer__label {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}
*/
/*
@media (max-width: 775px) {
  .grid{
  	grid-template-columns: 1fr;
  }
}