html{
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: min(max(1rem, 4vw), 27px);
	line-height: 1.1;
	color: #07080E;
}
body {
	background-color: #F8F7F1;
	margin: 0px;
}
a:link { text-decoration: none; color:  #07080E;}
a:visited { text-decoration: none; color:  #07080E;}
a:hover { text-decoration: none; color: #F8F7F1; background-color: #07080E; }
a:active { text-decoration: none; color:  #07080E;}
.sticky {
	position: sticky;
	top: 0;
	background-color: #F8F7F1;
	color: #07080E;
	padding: 11px;
	height: 40px;
	width: 100%;
	border: 0px solid blue;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: auto;
	gap: 10px;
	width: 100%;
}
.grid > div{
	border: 0px solid green;
}
.text01a {
	font-family: "IBM Plex Sans";
	font-size: 13px;
	line-height: 1.7;
}
.text01b {
	font-family: "IBM Plex Sans";
	font-size: 10px;
	line-height: 1.3;
}
.text02a {
	font-family: 'Crimson Text', serif;
	font-size: min(max(1rem, 4vw), 22px);
	line-height: 1.5;
}
.text02b {
	font-family: 'Crimson Text', serif;
	font-size: 15px;
	line-height: 1.1;
	padding: 5px;
}
.responsive{
	width: 100%;
}