body {
	background-color: #F8F7F1;
	font-family: "IBM Plex Serif";
	font-size: 16px;
	color: #07080E;
	margin: 0px;
}
a:link { text-decoration: none; color:  #07080E;}
a:visited { text-decoration: none; color:  #07080E;}
a:hover { text-decoration: none; color: #F8F7F1; background-color: #07080E; }
a:active { text-decoration: none; color:  #07080E;}
a {
    text-decoration: none;
}	
.sticky {
	position: sticky;
	top: 0;
	background-color: #F8F7F1;
	color: #07080E;
	padding: 11px;
	height: 50px;
	width: 100%;
	border: 0px solid blue;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 4fr 0.1fr;
	grid-template-rows: auto;
	gap: 15px;
	width: 100%;
}
.grid > div{
	border: 0px solid green;
}
.nest {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 15px;
	width: 100%;
}
.nest > div{
	height: 100px;
}
.head1 {
	font-size: 25px;
}
.head2 {
	font-size: 30px;
}
.text01 {
	font-family: "IBM Plex Sans";
	font-size: 13.5px;
	line-height: 1.5;
}
.text02 {
	font-family: "IBM Plex Sans";
	font-size: 10px;
	line-height: 1.2;
}