html{
	font-family: 'Libre Baskerville', serif;
	font-weight: 500;
	font-size: min(max(1rem, 4vw), 27px);
	line-height: 1.3;
	color: #07080E;
}
body {
	background-color: #F8F7F1;
	margin: 10px;
}
a:link { text-decoration: none; color:  #07080E;}
a:visited { text-decoration: none; color:  #07080E;}
a:active { text-decoration: none; color:  #07080E;}
a.a:hover {
    background-color: cyan;
}
a.b:hover {
    background-color: #34FF47;
}
a.c:hover {
    background-color: #FF10F0;
}
.wrap {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border: 0px solid green;
	width: 100%;
	height: 100%;
	justify-items: center; /* adjusted */
}
.grid {
	display: grid;
	grid-template-columns: 0.01fr 4fr 0.01fr;
	grid-template-rows: auto;
	width: 100%;
}
.grid > div{
	border: 0px solid green;
}
.grid1 {
	display: grid;
	grid-template-columns: 0.4fr 4fr 0.1fr;
	grid-template-rows: auto;
}
.grid1 > div{
	border: 0px solid red;
}