html{
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
	font-size: min(max(1rem, 4vw), 27px);
	line-height: 1.3;
	color: #07080E;
}
body {
	background-color: #F8F7F1;
	margin: 10px;
}
a:link { text-decoration: none; color:  #07080E;}
a:visited { text-decoration: none; color:  #07080E;}
a:active { text-decoration: none; color:  #07080E;}
a.a:hover {
    background-color: cyan;
}
a.b:hover {
    background-color: #34FF47;
}
a.c:hover {
    background-color: #FF5F1F;
}
.grid {
	display: grid;
	grid-template-columns: 0.05fr 10fr 0.05fr;
	grid-template-rows: auto;
	width: 100%;
}
.grid > div{
	border: 0px solid green;
}
@media screen and (max-width: 414px) {
	body {
		font-size:15px;
	}
}
}
@media screen and (max-width: 768px) {
	body {
		font-size:15px;
	}
}
@media screen and (max-width: 1440px) {
}