html{
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: min(max(1rem, 4vw), 27px);
	line-height: 1.2;
	color: #07080E;
}
body {
	background-color: #F8F7F1;
	margin: 15px;
}
a:link { text-decoration: none; color:  #07080E;}
a:visited { text-decoration: none; color:  #07080E;}
a:hover { text-decoration: none; color: #F8F7F1; background-color: #07080E; }
a:active { text-decoration: none; color:  #07080E;}
.sticky {
	position: sticky;
	top: 0;
	background-color: #F8F7F1;
	color: #07080E;
	padding: 0px;
	height: 44px;
	width: 100%;
	border: 0px solid blue;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border: 0px solid green;
  width: 100%;
  height: 100%;
  justify-items: center; /* adjusted */
}
.grid {
	display: grid;
	grid-template-columns: 0.75fr 4fr 1fr;
	grid-template-rows: auto;
	gap: 0px;
	max-width: 1150px;
}
.grid > div{
	border:0px solid green;
}
.text01a {
	font-family: "IBM Plex Sans";
	font-size: min(max(1rem, 4vw), 20px);
	line-height: 1.35;
	max-width: 750px;
}
.text01b {
	font-family: "IBM Plex Sans";
	font-size: min(max(1rem, 4vw), 15px);
	line-height: 1.2;
	padding-left: 15px;
}
.text02a {
	font-family: 'Crimson Text', serif;
	font-size: min(max(1rem, 4vw), 25px);
	line-height: 1.2;
	max-width: 750px;
}
.text02b {
	font-family: 'Crimson Text', serif;
	font-size: min(max(1rem, 4vw), 17px);
	line-height: 1.1;
	padding-left: 15px;
}
.responsive{
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.grid {
		display: grid;
		grid-template-columns: 0.05fr 5fr;
	}
	.text02b {
		display: none;
	}
	.text01b {
		display: none;
	}
}