*, *::after, *::before {
	box-sizing: border-box;
}
html {
	line-height: 1.3;
	-webkit-text-sizeadjust: 100%;
}
body {
			margin: 10px;
			background-color: #1B1B1B;
			font-family: "IBM Plex Mono";
			font-size: 15px;
			color: #D9D9D9;
			/*
			min-height: 90vh;
			overflow: hidden;
			*/
}
a:link { text-decoration: none; color:  #D9D9D9;}
a:visited { text-decoration: none; color:  #D9D9D9;}
a:hover { text-decoration: none; color: #1B1B1B; background-color: cyan; }
a:active { text-decoration: none; color:  #1B1B1B;}
a {
    text-decoration: none;
}
.head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 0px solid yellowgreen;
	gap: 5px;
	width: 100%;
	height: 20px;
}
.head > div {
	border: 0px solid white;
	box-sizing:  border-box;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto;
	border: 0px solid yellowgreen;
	gap: 5px;
	width: 100%;
	height: 700px;
}
.grid > div {
	border: 0px solid white;
	box-sizing:  border-box;
}
.clock {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 2px solid white;
	position: relative;
	top: 17%; 
	left: 3%;
}
.clock .number {
	--rotation: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: rotate(var(--rotation));
}
.clock .number1 { --rotation: 0deg; }
.clock .number2 { --rotation: 90deg; }
.clock .number3 { --rotation: 180deg; }
.clock .number4 { --rotation: 270deg; }

.clock .season {
	--rotation: 0;
	position: absolute;
	width: 610px;
	height: 610px;
	border: 0px solid white;
	top: -11%;
	left: -12%;
	text-align: center;
	transform: rotate(var(--rotation));
}
.clock .season1 { --rotation: 0deg; }
.clock .season2 { --rotation: 90deg; }
.clock .season3 { --rotation: 180deg; }
.clock .season4 { --rotation: 270deg; }

.clock .hand {
	--rotation: 0;
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 1px;
	height: 50%;
	background-color: #FFFFFF;
	transform-origin:  bottom;
	z-index: 10;
	transform:  translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
	content: '';
	position: absolute;
	background-color: #FFFFFF;
	z-index: 11;
	width: 15px;
	height: 15px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.clock .line1 {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 1px;
	height: 50%;
	background: linear-gradient(0deg, red, 10%, cyan);
}

.clock .line2 {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 50%;
	height: 1px;
	background: linear-gradient(.25turn, white, 30%, red);
}

.clock .line3 {
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	left: 50%;
	width: 71%;
	height: 1px;
	background: linear-gradient(.25turn, cyan, 50%, red);
}

.clock .line4 {
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 200%;
	left: 8%;
	width: 71%;
	height: 1px;
	background: linear-gradient(.25turn, white, 60%, red);
}

.clock .line5 {
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 1px;
	height: 50%;
	background: linear-gradient(0deg, white, 90%, green);
}

.clock .line6 {
	position: absolute;
	transform: rotate(45deg);
	transform-origin: -100%;
	left: 21%;
	width: 71%;
	height: 1px;
	background: linear-gradient(.25turn, green, 30%, white);
}

.clock .line7 {
	position: absolute;
	bottom: 50%;
	left: 0%;
	width: 50%;
	height: 1px;
	background: linear-gradient(.25turn, green, 90%, cyan);
}

.clock .line8 {
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 100%;
	left: -21%;
	width: 71%;
	height: 1px;
	background: linear-gradient(.25turn, green, 50%, cyan);;
}
/*
/*
@media (max-width: 775px) {
  .grid{
  	grid-template-columns: 1fr;
  }
}