@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;1,100;0,200;1,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #F9F8F5;
	font-family: 'Roboto Mono', sans-serif;
	font-size: min(max(1rem, 4.35vw), 14px);
	font-weight: 400;
	line-height: 1.0;
	letter-spacing: 0.0px; 
	color: #1B1B1B;
	overflow-x: none;
}
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none; color: #F9F8F5; background-color: #1B1B1B; }
a:active { text-decoration: none; color:  #212121;}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #1B1B1B; }
::-webkit-scrollbar-thumb { background: #D9D9D9; }
::-webkit-scrollbar-thumb:hover { background: #D9D9D9; }
.wrapper {
	display: grid;
  	grid-template-columns: 1fr;
  	border: 0px solid green;
 	 width: 99vw;
  	height: 99vh;
	justify-items: center; /* adjusted */
}
.grid {
	max-width: 714px;
	border:0px solid blue;
	margin-left: 5px;
}
.grid > div { border: 0px solid red; }
.title {
	font-family: 'IBM Plex Mono', 'Roboto', monospace; 
	font-size: 70px;
	font-style: italic;
	font-weight: 100;
	margin-top: 16px;
	margin-bottom: 16px;
	letter-spacing:0px;
	/*
	text-align: justify;
  text-justify: inter-word;
  */
}
.tags {
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 4px;
}
.tags > div {
	border: 1px solid #1B1B1B;
	margin: 4px;
	text-align: center;
	padding: 2px
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
	font-size: 11px;
}
.header {
	background-color: #1B1B1B;
	color: #F9F8F5;
	padding:4px;
}
.responsive { width: 100%; }
hr {
	 margin-top:6px;
	 margin-bottom:6px;
}
.accordion {
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.4s;
  }
.active, .accordion:hover { background-color: cyan; }
.panel {
	display: grid;

	max-height: 0px;
	overflow: hidden; 
	transition: max-height 0.2s ease-out;
	border: 0px solid green;
	font-family: 'Noto Serif';
	font-size: 14px;
	line-height: 1.2;
}
.txt {
	border: 1px solid yellowgreen;
}
.txt > div {
	border: 1px solid red;
}
@media screen and (max-width: 768px) {
  .grid { width: 100%; }
  .title { font-size: 50px }
}