@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');
* {
	margin-left: 5;
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #2A2F37;
	font-family: 'Vollkorn', sans-serif;
	font-size: min(max(1rem, 4.35vw), 28px);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.8px; 
	color: #F7DBD8;
	overflow-x: none;
	height: 200px;
}
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none; color: #2A2F37; background-color: #F7DBD8; }
a:active { text-decoration: none; color:  #2A2F37;}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #2A2F37; }
::-webkit-scrollbar-thumb { background: #F7DBD8; }
::-webkit-scrollbar-thumb:hover { background: #F7DBD8; }
.wrapper {
		display: grid;
  	grid-template-columns: 1fr;
  	width:99vw;
  	justify-items: center; /* adjusted */
  	border: 0px solid blue;
}
.grid {
	display: grid;
	width: 95vw;
	max-width:2000px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	border: 0px solid purple;
}
.grid > div {
	border: 0px solid red;
	box-sizing: border-box;
}
.title {
	font-family: 'Vollkorn', serif; 
	font-size: 34px;
	font-weight: 500;
	padding-top: 55px;
	padding-bottom: 15px;
	letter-spacing: 3px;
	border: 0px white;
	text-align: center;
	height: 300px;
}
.t {
	font-size: 28px;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 4px;
}
.center  { 
}
.center > div {
	border: 0px solid yellow;
}
.row {
}
.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 0px solid purple;
	gap:16px;
}
.content > div {
	border: 0px solid red;
	box-sizing: border-box;
	text-align: justify;
	text-justify: auto;
}
hr {
	 margin-top:9px;
	 margin-bottom:9px;
	 height:0.5px;
	 border-width:0;
	 color:#F7DBD8;
	 background-color:#F7DBD8;
}
.responsive{ width: 100%; }
@media screen and (max-width: 768px) {
  .grid { width: 100%; }
}