@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
	margin-left: 5;
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #F9F8F5;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: min(max(1rem, 4.35vw), 13px);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.0px; 
	color: #1B1B1B;
	overflow-x: none;
}
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none; color: #F9F8F5; background-color: fuchsia; }
a:active { text-decoration: none; color:  #212121;}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #1B1B1B; }
::-webkit-scrollbar-thumb { background: #D9D9D9; }
::-webkit-scrollbar-thumb:hover { background: #D9D9D9; }
.wrapper {
		display: grid;
  	grid-template-columns: 1fr;
  	width:99vw;
  	justify-items: center; /* adjusted */
  	border: 0px solid blue;
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	border: 0px solid purple;
}
.grid > div {
	border: 0px solid red;
	box-sizing: border-box;
}
.title {
	font-family: Barlow, sans-serif; 
	font-size: 19px;
	font-weight: 500;
	padding-top: 16px;
	letter-spacing: 1px;
}
.center  { max-width:1000px;}
.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 0px solid purple;
	gap:16px;
}
.content > div {
	border: 0px solid red;
	box-sizing: border-box;
	text-align: justify;
	text-justify: auto;
}
.t {
	font-weight: 500;
}
hr {
	 margin-top:6px;
	 margin-bottom:6px;
}
.responsive{ width: 100%; }
.accordion {
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.4s;
}
.active, .accordion:hover { background-color: cyan; }
.panel {
	display: grid;
	max-height: 0px;
	overflow: hidden; 
	transition: max-height 0.2s ease-out;
	border: 0px solid green;
}
@media screen and (max-width: 768px) {
  .grid { width: 100%; }
}