html {
	/* overflow: hidden; */
}
body {
			margin: 0;
			background-color: #1B1B1B;
			font-family: 'Barlow Semi Condensed', sans-serif;
			font-weight: 500px;
			font-size: 15px;
			line-height: 1.3;
			color: #D9D9D9;
}
a:link { text-decoration: none; color:  #D9D9D9;}
a:visited { text-decoration: none; color:  #D9D9D9;}
a:hover { text-decoration: none; color: #1B1B1B; background-color: rgba(0,255,0,0.3);}
a:active { text-decoration: none; color:  #1B1B1B;}
.sticky {
	position: sticky;
	top: 0;
	background-color: #1B1B1B;
	font-family: 'Barlow', sans-serif;
	padding: 5px;
	height: 50px;
	font-size: 35px;
	width: 100%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(17, 100px);
	grid-template-rows: repeat(11, 100px);
	border: 0px solid greenyellow;
	gap: 5px;
}
.grid > div {
	border: 1px solid white;
}
.cell {
	font-size: 20px; 
	text-align: center;
	background-size: 100px 100px;
}
.image {
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.modalDialog {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	border: 0px solid white;
	width: 100%;
	position: relative;
	margin: 10% auto;
}
.close {
  padding: 0;
	color:red;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 0px;
	width: 24px;
	text-decoration: none;
  background:none;
	font-weight: bold;
}
.close:hover { 
color: #EA4436;
}
@media (max-width: 1600px) {
  .grid{
  	grid-template-columns: repeat(14, 100px);
  	grid-template-rows: repeat(15, 100px);
  }
}
@media (max-width: 1440px) {
  .grid{
  	grid-template-columns: repeat(12, 100px);
  	grid-template-rows: repeat(15, 100px);
  }
}
@media (max-width: 1000px) {
  .grid{
  	grid-template-columns: repeat(8, 100px);
  	grid-template-rows: repeat(32, 100px);
  }
}
@media (max-width: 768px) {
  .grid{
  	grid-template-columns: repeat(6, 100px);
  	grid-template-rows: repeat(32, 100px);
  }
}
@media (max-width: 600px) {
  .grid{
  	grid-template-columns: repeat(5, 100px);
  	grid-template-rows: repeat(32, 100px);
  }
}
